.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
}