<div class="about-content">
    <div class="text">
        <h1>About me</h1>
        <div class="about-me-summary">
            <p>Welcome to The Gaming of Ant Aunt Gamer!</p>
            <p>I am someone who likes drawing original characters, but these drawings lack a lot of context, so I'm hoping this web page will aloow me to provide that.</p>
            <p>This page has been built with Angular and TypeScript, with not many other frameworks involved, as a kind of side-project of learning Angular, I suppose.</p>
            <p>Thank you for visiting, and hope you enjoy your stay!</p>
        </div>
    </div>
    <div class="image">
        <figure>
            <img src="./assets/OtherImages/aboutPageAsset.png" alt="Drawing of myself"/>
            <figcaption>The Titular Gamer of Ant Aunt Gaming on a Thursday</figcaption>
        </figure>
    </div>
</div>