.about-content {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-summary {
    padding-bottom: 20%;
}

figcaption {
    text-align: center;
}

@media (max-width: 1000px) {
    .about-content{
        flex-direction: column;
    }

    img{
        max-width: 100%;
    }

    .about-me-summary {
        padding-bottom: 0%;
    }
}
