.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
}

.under-construction {
    text-align: center;
}

@media (max-width: 1000px) {
    .temp-asset {
        max-width: 100%;
    }
}