<ul class="navbar-list">
    <a class="navbar-heading" href="/">
        <li class="navbar-list-item" id="navbar-home">
            Home
        </li>
    </a>
    <a class="navbar-heading" href="/characters">
        <li class="navbar-list-item" id="navbar-characters">
            Characters
        </li>
    </a>
    <a class="navbar-heading" href="/creatures">
        <li class="navbar-list-item" id="navbar-creatures">
            Creatures
        </li>
    </a>
    <a class="navbar-heading" href="/locations">
        <li class="navbar-list-item" id="navbar-locations">
            Locations
        </li>
    </a>
    <a class="navbar-heading" href="/items">
        <li class="navbar-list-item" id="navbar-items">
            Items
        </li>
    </a>
</ul>

