h1 {
    font-size: 3rem;
    margin-top: 0px
}

.character-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-image {
    max-width: 25rem;
    height: auto;
}

.character-summary {
    background-color: #FFFFFF20;
    padding: 0.5rem;
}

@media (max-width: 1000px) {
    .character-image {
        max-width: 100%;
    }
}