h1 {
    font-size: 3rem;
    margin-top: 0px
}

.creature-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-image {
    max-width: 30rem;
    height: auto;
}

.types {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.creature-description {
    padding: 0.5rem;
    text-align: center;
    background-color: #FFFFFF20;
}

@media (max-width: 1000px) {
    .creature-image {
        max-width: 100%;
    }
}