main {
    background: #263C73;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.siteBody {
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.content {
    flex: 1;
    padding: 1rem;
    color: #DDD;
}

.footer {
    margin-top: auto;
}